.tabs{
    background-color: #00B7FF;
    border: none;
    float:left;
    outline:none;
    cursor: pointer;
    font-size: 20px;
    width:150px;
    top: 3px;
    color: black;

}

#user_id{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: lighter;
    border-radius: 0 10px 10px 0 ;
    width: auto;
    padding-left: 10px;
    padding-right: 20px;
}


button#home.tabs{
    border-radius: 10px 0 0 10px ;
}
.tabs:hover, #aboutus:hover, #searchbutton:hover {
    background-color: slategrey;
}

#header_search:focus{
    outline: none;
    border: 1px solid #00B7FF;
}

#header_search{
    border: 1px solid lightgrey;
    background-image: url("images/Magnifying_glass.png");
    background-size:18px;
    background-repeat: no-repeat;
    background-position: 2px 3px ;
    border-radius: 0 10px 10px 0;
    height: 26px;
    width: 200px;
    padding-left: 25px;
}

footer {
    width: 100%;
    height: 50px;
    bottom: 0;
    color: white;
    text-align: center;
    left: 300px;
    z-index: 999;
    max-height: calc(100vh + 50px);
    position: fixed;

}
#aboutus{
    color: white;
    border: none;
    width: 20%;
    cursor: pointer;
    z-index: 999;
    background-color: #00B7FF;
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 30px;
    border-radius: 20px 20px 0 0;
}


