#WebsiteHeader{
    font-family: Inconsolata, sans-serif;
    color: darkblue;
}

#popular-questions-header, #similar-questions-header{
    font-family: Inconsolata, sans-serif;
}

#query-search:focus {
    outline: none;
    border: 1px solid #00B7FF;
}

#query-search{
    border-radius: 5px;
    width: 350px;
    height: 50px;
    border: 1px solid lightgrey;
    font-size: 15px;
}

#searchbutton{
    color: white;
    border: none;
    width: 70px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    background-color: #00B7FF;
    border-radius: 5px;
}

.questions, .similarquestionclass{
    font-family: "Arial", sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    list-style-position:inside;
    display: table;
    padding: 5px 5px 5px 5px;
    background-color: #9FE3FF;
    border-radius: 5px;
    margin-bottom: 3px;
    position: relative;
}

.questions{
    left: 50px;
}

.similarquestionclass{
    left: 10px;
}

.questions_body
{
    font-family: "Arial", sans-serif;
    color: black;
    text-decoration: none;
    top: -11px;
    left: 54px;
    padding-bottom: -30px;
    position: relative;
}

.questions_score{
    display: inline-block;
    top: -69px;
    padding: 2px;
    font-size: 15px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    text-align: center;
    background-color: #9FE3FF;
}