#WebsiteHeader{
    font-family: Inconsolata, sans-serif;
    color: darkblue;
}

#popular-questions-header{
    font-family: Inconsolata, sans-serif;
}

#query-search:focus {
    outline: none;
    border: 1px solid #00B7FF;
}

#query-search{
    border-radius: 5px;
    width: 350px;
    height: 50px;
    border: 1px solid lightgrey;
    font-size: 15px;
}

#searchbutton{
    color: white;
    border: none;
    width: 70px;
    font-weight: bold;
    cursor: pointer;
    height: 50px;
    background-color: #00B7FF;
    border-radius: 5px;
}

.questions, .similarquestionclass{
    font-family: "Arial", sans-serif;
    color: black;
    text-decoration: none;
    list-style-position:inside;
    display: table;
    /*list-style-type: circle;*/
}

.questions{
    padding: 5px 5px 5px 5px;
    background-color: #9FE3FF;
    border-radius: 5px;
    margin-bottom: 3px;
}
